html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: 1rem auto 0;
    padding: 1rem;
}

img {
    width: 150px;
    margin-bottom: 1rem;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    border-radius: .5rem;
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .25rem;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    border-radius: .5rem;
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem;
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
}

ul li {
    color: #432000;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border-radius: .5rem;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}